@font-face {
    font-family: 'AppleSDGothicNeoR';
    src: url('./AppleSDGothicNeoR.woff') format('woff');
; }

@font-face {
    font-family: 'AppleSDGothicNeoL';
    src: url('./AppleSDGothicNeoL.woff') format('woff');
}

@font-face {
    font-family: 'AppleSDGothicNeoEB';
    src: url('./AppleSDGothicNeoEB.woff') format('woff');
}

* {
    font-family: AppleSDGothicNeoR, serif;
}

body {
    margin: 0px;
}


/* Header */
.header {
    display: flex;
    height: 56px;
    padding-left: 16px;
    padding-top: 5px;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff0;
}

.header > a {
    display: flex;
    width: 142px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #212121;
    text-align: center;
    /* Title2/Emphasized */
    font-family: AppleSDGothicNeoR, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
    cursor: pointer;
}

.header > div {
    display: flex;
    height: 25px;
    flex-direction: column;
    flex-shrink: 0;
    object-fit: fill;
    cursor: pointer;
}


/* Pair-Header */
.pair-header {
    
}


/* Footer */
.footer-bar {
    height: 40px;
    flex-shrink: 0;
    /* border: 1px solid #000;*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-evenly;
}

.footer-bar > img {
    cursor: pointer;
    user-select: none;
}