@font-face {
    font-family: 'AppleSDGothicNeoR';
    src: url('./AppleSDGothicNeoR.woff') format('woff');
; }

@font-face {
    font-family: 'AppleSDGothicNeoL';
    src: url('./AppleSDGothicNeoL.woff') format('woff');
}

@font-face {
    font-family: 'AppleSDGothicNeoEB';
    src: url('./AppleSDGothicNeoEB.woff') format('woff');
}

* {
    font-family: AppleSDGothicNeoR, serif;
}

body {
    margin: 0;
}

/* Header */
.header {
    display: flex;
    height: 56px;
    padding-left: 16px;
    padding-top: 5px;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff0;
    background: #fff;
}

.header > a {
    display: flex;
    width: 142px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #212121;
    text-align: center;
    /* Title2/Emphasized */
    font-family: AppleSDGothicNeoR, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
    cursor: pointer;
}

.header > div {
    display: flex;
    height: 25px;
    flex-direction: column;
    flex-shrink: 0;
    object-fit: fill;
    cursor: pointer;
}

/* Pair-Header */
.pair-header {
    display: flex;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.pair-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.pair-title > div {
    padding-top: 10px;
    display: flex;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 22px;
    font-weight: bold;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #fff0;
    border-top: 3px solid #0000;
    margin-right: 12px;
    color: #9E9E9E;
    cursor: pointer;
}

.pair-title div.active {
    border-bottom: 3px solid #000;
    border-top: 3px solid #0000;
    color: #000;
}

.header-button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 56px;
    padding-top: 10px;
}

.header-button-block > div {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

/* Footer */
.footer-bar {
    height: 40px;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-evenly;
}

.footer-bar > img {
    cursor: pointer;
    user-select: none;
}

.main-page {
    background: #e1e1e1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    margin-top: 60px;
    margin-bottom: 70px;
}

.disabled {
    height: 0;
    width: 0;
    display: none;
}

.grid-view {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.ad-tag {
    display: flex;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 11px;
    font-weight: normal;
    background: #A21E31;
    border-radius: 4px;
    color: #fff;
    width: 22px;
    height: 14px;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: default;
    margin-left: 6px;
    margin-bottom: 2px;
}

.bar-block-left {
    height: 56px;
    flex-shrink: 0;
    background: #FFF;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
}

.bar-block-center {
    height: 56px;
    flex-shrink: 0;
    background: #FFF;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}