{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>COARR GUIDE</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/promotion.css' %}">
        <!-- js -->
        <script src="{% static 'js/main.js' %}"> </script>
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Quicksand&display=swap" rel="stylesheet">
        <meta name="viewport" content="initial-scale=0.8,user-scalable=no,maximum-scale=0.8,width=device-width" />
        <link rel="shortcut icon" href="http://beta.coarr.kro.kr:8080/media/websrc/favicon.ico" type="image/x-icon">
    </head>
    <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
        
    <!-- Footer Bar -->
    <div class="footer-bar">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/home_deactive.png" onclick="switch_tab(2, 0);">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/restaurant_deactive.png" onclick="switch_tab(2, 1);">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/gift_active.png" onclick="switch_tab(2, 2);">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/user_deactive.png" onclick="switch_tab(2, 3);">
    </div>
        
</body>
</html>
