.bar-block-left {
    padding-top: 20px;
}

.bar-block-left > a {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 22px;
    font-weight: bold;
}

.hscroll-view {
    display: flex;
    align-items: center;
    column-gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    height: 420px;
    background: #fff0;
}

.hscroll-view::-webkit-scrollbar {
    display: none;
}

.hscroll-view > .rest-display {
    scroll-snap-align: center;
    min-width: 300px;
    background: #eee;
    height: 420px;
    position: relative;
}

.rest-display > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hscroll-view > .first {
    margin-left: 16px;
}

.hscroll-view > .last {
    margin-right: 16px;
}

.floating-button {
    position: fixed;
    bottom: 90px;
    right: 16px;
    background: #A21E31;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    box-shadow: 1px 1px 5px 1px #79797980;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.floating-button > img {
    width: 30px;
}

.bar-block-center {
    padding-top: 20px;
}

.bar-block-center > a {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 22px;
    font-weight: bold;
    user-select: none;
    cursor: default;
}

.bar-block-center > div {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80px;
    user-select: none;
    cursor: pointer;
}

.bar-block-center > div > img {
    height: 14px;
}

.review-block-long {
    width: 220px;
    height: 320px;
    background: #ffffff;
    border: 1px solid #fff0;
    overflow: hidden;
    padding-bottom: 80px;
}

.review-block-long > .text-wrapper {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 20px;
    font-weight: bold;
}

.review-block-long > .text-wrapper > a {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 14px;
    font-weight: normal;
}

.review-block-long > .img-wrapper {
    background: #eee;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.review-block-long > .img-wrapper > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
}

.review-block-long > .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 12px;
    margin-top: 12px;
}

.hscroll-view > .rest-display-new {
    scroll-snap-align: center;
    min-width: 220px;
    background: #ffffff;
    height: 380px;
    position: relative;
}

.hscroll-view-new {
    display: flex;
    align-items: center;
    column-gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    height: 380px;
    background: #fff0;
}

.hscroll-view-new > .first {
    margin-left: 8px;
}

.hscroll-view-new > .last {
    margin-right: 8px;
}

.hscroll-view-new::-webkit-scrollbar {
    display:none;
}

.tool-header.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follow-header-bar {
    padding-top: 10px;
    height: 100px;
    flex-shrink: 0;
    background: #FFF;
    border-top: 1px solid #fff0;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
}

.follow-header-bar > .btn {
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid #fff0;
    margin-right: 16px;
    cursor: pointer;
    object-fit: cover;
}

.followers-block {
    flex-grow: 1;
    background: #ffffff;
    margin-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.followers-block::-webkit-scrollbar {
    display: none;
}

.follower-icon {
    scroll-snap-align: center;
    min-width: 70px;
    max-width: 80px;
    height: 90px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.follower-icon > img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 32px;
}

.follower-icon > a {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 15px;
    width: 80px;
    overflow: hidden;
    white-space : nowrap;
    word-break : nowrap;
    text-overflow : ellipsis;
    text-align: center;
    margin-top: 2px;
}

.header {
    border-bottom: 1px solid #ececec;
}

.new-review-block {
    min-width: 260px;
    height: 360px;
    background: #ffffff;
    border: 1px solid #f000;
    overflow: hidden;
    position: relative;
}

.new-review-block > .grad {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 260px;
}

.new-review-block > .img-wrapper {
    background: #eee;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.new-review-block > .img-wrapper > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
}

.new-review-block > .save-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.new-review-block > .writer-block {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    position: absolute;
    bottom: 78px;
    left: 16px;
    right: 16px;
}

.new-review-block > .writer-block > a {
    color: #fff;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
}

.new-review-block > .title-block {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    position: absolute;
    top: 289px;
    left: 12px;
    right: 12px;
    color: #fff;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

/* magazine */
.magazine-block {
    min-width: 260px;
    height: 360px;
    background: #ffffff;
    border: 1px solid #f000;
    overflow: hidden;
    position: relative;
    padding-bottom: 48px;
}

.magazine-block > .img-wrapper {
    background: #eee;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.magazine-block > .grad {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    width: 260px;
}

.magazine-block > .img-wrapper > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
}

.magazine-block > .save-btn {
    position: absolute;
    bottom: 56px;
    right: 16px;
    cursor: pointer;
}

.magazine-block > .writer-block {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    position: absolute;
    bottom: 57px;
    left: 16px;
    right: 16px;
}

.magazine-block > .writer-block > a {
    color: #fff;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
}

.magazine-block > .title-block {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 260px;
    right: 12px;
    color: #000;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

.partner-block {
    border: 2px solid #9E9E9E;
    height: 400px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.partner-block > .partner-header {
    border: 1px solid #ffffff;
    height: 64px;
    padding-left: 18px;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 260px;
}

.partner-header > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
}

.partner-header > a {
    margin-left: 12px;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 22px;
    font-weight: bold;
}

.partner-block > .text-block {
    border: 1px solid #fff;
    width: 244px;
    margin-left: 18px;
    margin-right: 18px;
    height: 280px;

    font-family: AppleSDGothicNeoR, serif;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    text-align: start;
}

.prefer-text {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    color: #9E9E9E;
    margin-bottom: 8px;
    padding-left: 18px;
}

.follow-review-block {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 12px;
    cursor: default;
}

#follow-page-review {
    margin-bottom: 72px;
}

.follow-review-block > .follower-header {
    height: 85px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.follow-review-block > .review-img-wrapper {
    height: 600px;
    position: relative;
}

.review-img-wrapper > img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.review-img-wrapper > .to-review-btn {
    position: absolute;
    bottom: 50px;
    left: 32px;
    background: rgba(224, 224, 224, 0.50);
    width: 140px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
}

.to-review-btn > img {
    margin-bottom: 2px;
    margin-left: 6px;
}

.review-img-wrapper > .review-title {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: 180px;
    left: 32px;
    color: #fff;
    width: 60%;
    border: none;
}

.review-img-wrapper > .review-disc {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    position: absolute;
    bottom: 100px;
    left: 32px;
    right: 32px;
    color: rgba(255, 255, 255, 0.80);
    border: none;
}

.review-img-wrapper > .grad {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 260px;
    width: 100%;
}

.follow-review-block > .review-footer {
    height: 65px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #fff;
}

.follower-header > .follower-info-block {
    display: flex;
    height: 75px;
    flex-grow: 1;
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.follower-header > .follower-info-block > img {
    width: 56px;
    height: 56px;
    border-radius: 30px;
    object-fit: cover;
    margin-right: 10px;
}

.follower-header > .follower-info-block > .follower-info-name {
    display:flex;
    margin-top: 4px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.follower-info-name > div {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 18px;
    font-weight: bold;
}

.review-upload-date {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 14px;
    color: #212121;
}

.follower-header > .more-btn {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border: 1px solid #fff0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.review-footer > .btn-block {
    display: flex;
    margin-left: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.review-footer > .btn-block > .like > img {
    height: 28px;
    object-fit: cover;
    margin-right: 8px;
}

.review-footer > .btn-block > .saved > img {
    height: 28px;
    object-fit: cover;
    margin-right: 9px;
}

.btn-block > * > a {
    margin-top: 4px;
}

.like {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 20px;
    cursor: pointer;
}

.saved {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 20px;
    cursor: pointer;
}

.share-btn {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}

.share-btn > img {
    width: 24px;
}

#follow-page-review {
    background: #F5F5F5;
}