.review-block {
    width: 49%;
    height: 300px;
    background: #ffffff;
    border: 1px solid #f000;
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
}

.review-block > .img-wrapper {
    background: #eee;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.review-block > .img-wrapper > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
}

.review-block > .save-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.review-block-long {
    width: 49%;
    height: 360px;
    background: #ffffff;
    border: 1px solid #fff0;
    overflow: hidden;
    padding-bottom: 100px;
}

.review-block-long > .img-wrapper {
    background: #eee;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.review-block-long > .img-wrapper > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
}

.review-block-long > .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 12px;
    margin-top: 12px;
}

.text-wrapper > .rest-title {
    display: flex;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 20px;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
}

.text-wrapper > a {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 14px;
}

.text-wrapper > img {
    margin-top: 6px;
}

.save-btn > img {
    width: 24px;
}

.review-block > .writer-block {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    position: absolute;
    bottom: 110px;
    left: 16px;
    right: 16px;
}

.writer-block > img {
    width: 20px;
    margin-right: 3px;
}

.review-block > .writer-block > a {
    color: #fff;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
}

.review-block > .title-block {
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    position: absolute;
    top: 310px;
    left: 12px;
    right: 12px;

    color: #000;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

.title-block > img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-top: 0px;
    margin-right: 2px;
}

.tool-header {
    height: 56px;
    flex-shrink: 0;
    background: #FFF;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
}

.tool-header > .btn {
    display: flex;
    width: 26px;
    height: 26px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid #fff0;
    margin-right: 16px;
    cursor: pointer;
    object-fit: cover;
}

.tool-header.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-tag-block {
    flex-grow: 1;
    background: #ffffff;
    margin-right: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    column-gap: 2px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.filter-tag-block::-webkit-scrollbar {
    display: none;
}

.filter-tag-block > a {
    scroll-snap-align: center;
    min-width: fit-content;
    display: flex;
    background: #A21E31;
    border-radius: 12px;
    height: 36px;
    padding: 0 10px 0 10px;
    margin-right: 4px;
    color: #fff;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    user-select: none;
}


.bar-block-center {
    padding-top: 10px;
    height: 80px;
    flex-shrink: 0;
    background: #0000;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.gray-back {
    background: #ffffff;
    border-bottom: #eee !important;
}

.gray-back > a {
    color: #000 !important;
}

.grad {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.30) 100%);
}

.bar-block-center > a {
    color: #fff;
    font-family: AppleSDGothicNeoR, serif;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.4px;
}

.bar-block-center > .back_btn {
    width: 32px;
}

.title-img-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
}

.title-img-wrapper > img {
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.dummy {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
}

/* Footer */
.spread-footer-bar {
    height: 40px;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
}

.spread-footer-bar > img {
    cursor: pointer;
    user-select: none;
    margin-left: 24px;
    margin-right: 26px;
    cursor: pointer;
}

.main-review-page {
    background: #fff0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    margin-bottom: 72px;
}

.main-review-page > .trans-view {
    height: 600px;
    background: #fff0;
}

.main-review-page > .main-view {
    background: #fff;
}