{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>COARR GUIDE</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- <link rel="stylesheet" href="./css/style.css"> -->
        <!-- js -->
        <script src="{% static 'js/main.js' %}"> </script>
        <!-- <script src="./main.js"></script> -->
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Quicksand&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <link rel="shortcut icon" href="" type="image/x-icon">
    </head>
    <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
        <!-- Header -->
        <div class="header-bar">
            <div class="header-text-button-group">
                <div id="header-button-h1" class="header-button pointer" onclick="to_recomm();">추천
</div>
                <div id="header-button-h2" class="header-button-disable pointer" onclick="to_follow();">팔로잉
</div>
            </div>
            <div class="header-button-group">
                <div id="noti-button" class="btn btn-header pointer">
                    <img src="117.16.136.174:5000/media/websrc/noti.png">
                </div>
                <div id="search-button" class="btn btn-header pointer">
                    <img src="117.16.136.174:5000/media/websrc/search.png">
                </div>
            </div>
        </div>
        <!-- Header Underline Bar -->
        <div class="header-linebar">
            <div id="hline-left" class="header-line-left" style="background: #000;"></div>
            <div id="hline-right" class="header-line-right"></div>
        </div>
        <!-- float button -->
        <div class="float-button">
            <img src="117.16.136.174:5000/media/websrc/floatbutton.png">
        </div>
        <!-- main page recommend -->
        <div id="main-page-recommend" class="main-page-recommend" style="margin-top:90px; margin-bottom:72px;">
            <div class="title-text-group1 title-t3">오늘의 레스토랑
</div>
            <div class="hscroll-view1">
                <div class="home-restaurant-view-box">
                    <img src="117.16.136.174:5000/media/websrc/rest1.jpeg"/>
                    <div class="home-restaurant-view-box-title"></div>
                    <div class="home-restaurant-view-box-h1">서울, 중구 · 동호로</div>
                    <div class="home-restaurant-view-box-h">밍글스</div>
                </div>
                <div class="home-restaurant-view-box">
                    <img src="117.16.136.174:5000/media/websrc/rest2.jpeg"/>
                    <div class="home-restaurant-view-box-title"></div>
                    <div class="home-restaurant-view-box-h1">서울, 강남 · 도산대로</div>
                    <div class="home-restaurant-view-box-h">서울신라호텔 라연</div>
                </div>
            </div>
            <div class="title-text-group2">
                <div class="title-t3">신규 오픈 레스토랑
</div>
                <div class="">
                    <img src="117.16.136.174:5000/media/websrc/see_all.png">
                </div>
            </div>
            <div class="hscroll-view2">
                <div class="new-restaurant-view">
                    <img class="title-img" src="117.16.136.174:5000/media/websrc/new_rest-1.png">
                    <img src="117.16.136.174:5000/media/websrc/new_r_h1.png" style="margin-top: 6px;">
                    <img src="117.16.136.174:5000/media/websrc/new_r_t1.png" style="margin-top: 3px;">
                </div>
                <div class="new-restaurant-view">
                    <img class="title-img" src="117.16.136.174:5000/media/websrc/new_rest-2.png">
                    <img src="117.16.136.174:5000/media/websrc/new_r_h2.png" style="margin-top: 6px;">
                    <img src="117.16.136.174:5000/media/websrc/new_r_t2.png" style="margin-top: 3px;">
                </div>
                <div class="new-restaurant-view">
                    <img class="title-img" src="117.16.136.174:5000/media/websrc/new_rest-1.png">
                    <img src="117.16.136.174:5000/media/websrc/new_r_h1.png" style="margin-top: 6px;">
                    <img src="117.16.136.174:5000/media/websrc/new_r_t1.png" style="margin-top: 3px;">
                </div>
            </div>
            <div class="title-text-group2">
                <div class="title-t3">
                <!--                 <img src="117.16.136.174:5000/media/websrc/t2.png"> -->
                지금 관심받는 리뷰
</div>
                <div class="">
                    <img src="117.16.136.174:5000/media/websrc/see_all.png">
                </div>
            </div>
            <div class="hscroll-view-dummy"></div>
            <div class="title-text-group2">
                <div class="title-t3">매거진
</div>
                <div class="">
                    <img src="117.16.136.174:5000/media/websrc/see_all.png">
                </div>
            </div>
            <div class="hscroll-view-dummy"></div>
            <div class="title-text-group2">
                <div class="title-t3">새로운 파트너
</div>
                <div class="">
                    <img src="117.16.136.174:5000/media/websrc/see_all.png">
                </div>
            </div>
            <div class="hscroll-view-dummy"></div>
        </div>
        <!-- following page -->
        <div id="main-page-follow" class="main-page-follow" style="margin-top:90px; margin-bottom:72px; ">
            <!-- follwer head -->
            <div class="follower-header">
                <div class="follower-header-right"></div>
                <div class="follower-block">
                    <div class="follower-profile">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-1.png" style="width: 56px; height: 56px;">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-t1.png" style="margin-top: 10px;">
                    </div>
                    <div class="follower-profile">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-1.png" style="width: 56px; height: 56px;">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-t1.png" style="margin-top: 10px;">
                    </div>
                    <div class="follower-profile">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-1.png" style="width: 56px; height: 56px;">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-t1.png" style="margin-top: 10px;">
                    </div>
                    <div class="follower-profile">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-1.png" style="width: 56px; height: 56px;">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-t1.png" style="margin-top: 10px;">
                    </div>
                    <div class="follower-profile">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-1.png" style="width: 56px; height: 56px;">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-t1.png" style="margin-top: 10px;">
                    </div>
                    <div class="follower-profile">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-1.png" style="width: 56px; height: 56px;">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-t1.png" style="margin-top: 10px;">
                    </div>
                    <div class="follower-profile">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-1.png" style="width: 56px; height: 56px;">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-t1.png" style="margin-top: 10px;">
                    </div>
                    <div class="follower-profile">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-1.png" style="width: 56px; height: 56px;">
                        <img src="117.16.136.174:5000/media/websrc/home-profile-t1.png" style="margin-top: 10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bar -->
    <div class="footer-bar">
        <img class="pointer" src="117.16.136.174:5000/media/websrc/home_active.png">
        <img class="pointer" src="117.16.136.174:5000/media/websrc/restaurant_deactive.png">
        <img class="pointer" src="117.16.136.174:5000/media/websrc/gift_deactive.png">
        <img class="pointer" src="117.16.136.174:5000/media/websrc/user_deactive.png">
    </div>
</body>
</html>
