{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>COARR GUIDE</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <!-- <link rel="stylesheet" href="../css/style.css"> -->
        <!-- <link rel="stylesheet" href="../css/home.css"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- js -->
        <script src="{% static 'js/main.js' %}"> </script>
        <!-- <script src="../main.js"></script> -->
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Quicksand&display=swap" rel="stylesheet">
        <meta name="viewport" content="initial-scale=0.8,user-scalable=no,maximum-scale=0.8,width=device-width" />
        <link rel="shortcut icon" href="http://beta.coarr.kro.kr:8080/media/websrc/favicon.ico" type="image/x-icon">
    </head>
    <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>

    <div id="recomm-page-review" class="main-page disabled">
        <div class="bar-block-left">
            <a>오늘의 레스토랑</a>
        </div>

        <div class="hscroll-view">
            <div class="rest-display first">
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/home-rest-1.png" alt="">
            </div>
            <div>
                
            </div>
            <div class="rest-display last">
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/home-rest-2.png" alt="">
            </div>
        </div>

        <div class="bar-block-center">
            <a>신규 오픈 레스토랑</a>
            <div onclick="backto('restaurant?tab=restaurant');">
                전체보기
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/btn_after.png" alt="">
            </div>
        </div>

        <div class="hscroll-view-new" style="height: 400px;">
            
            <div class="rest-display-new first">
                <div class="review-block-long">
                    <div class="img-wrapper">
                        <img src="http://beta.coarr.kro.kr:8080/media/websrc/rest1.jpeg" alt="">
                    </div>
                    <div class="text-wrapper">
                    <div class="rest-title">
                        밍글스
                    </div>
                    <a>서울, 강남 · 도산대로</a>
                    </div>
                </div>
            </div>

            <div class="rest-display-new">
                <div class="review-block-long">
                    <div class="img-wrapper">
                        <img src="http://beta.coarr.kro.kr:8080/media/websrc/new_rest-1.png" alt="">
                    </div>
                    <div class="text-wrapper">
                    <div class="rest-title">
                        온 6.5
                    </div>
                    <a>서울, 종로 · 북촌로</a>
                    </div>
                </div>
            </div>

            <div class="rest-display-new last">
                <div class="review-block-long">
                    <div class="img-wrapper">
                        <img src="http://beta.coarr.kro.kr:8080/media/websrc/rest5.jpeg" alt="">
                    </div>
                    <div class="text-wrapper">
                    <div class="rest-title">
                        이속우화진
                    </div>
                    <a>서울, 강남 · 영동대로</a>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="bar-block-center">
            <a>지금 관심받는 리뷰</a>
            <div onclick="backto('restaurant?tab=review');">
                전체보기
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/btn_after.png" alt="">
            </div>
        </div>

        <div class="hscroll-view" style="height: 360px;">

            <div class="new-review-block" style="margin-left: 8px;">
                <div class="img-wrapper">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/rest6.jpeg" alt="">
                </div>
                <img class="grad" src="http://beta.coarr.kro.kr:8080/media/websrc/linear_grad_home_review.png" alt="">
                <div class="save-btn" onclick="toggle_save(0);">
                    <img id="save-btn-0" src="http://beta.coarr.kro.kr:8080/media/websrc/saved_icon.png" alt="">
                </div>
                <div class="writer-block">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/twin_user_icon.png" alt="">
                    <a>SeungJun</a>
                </div>
                <div class="title-block">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/approved_icon.png" alt="">
                    니혼료리 타카무라 日本料理たかむら
                </div>
            </div>
            
            <div class="new-review-block">
                <div class="img-wrapper">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/rest16.jpeg" alt="">
                </div>
                <img class="grad" src="http://beta.coarr.kro.kr:8080/media/websrc/linear_grad_home_review.png" alt="">
                <div class="save-btn" onclick="toggle_save(1);">
                    <img id="save-btn-1" src="http://beta.coarr.kro.kr:8080/media/websrc/not_saved_icon.png" alt="">
                </div>
                <div class="writer-block">
<!--                     <img src="http://beta.coarr.kro.kr:8080/media/websrc/twin_user_icon.png" alt=""> -->
                    <a>EunJe Lee</a>
                </div>
                <div class="title-block">
<!--                     <img src="http://beta.coarr.kro.kr:8080/media/websrc/approved_icon.png" alt=""> -->
                    평범한 햄이 아니야! 이베리코 흑돼지 스페셜
                </div>
            </div>

            <div class="new-review-block last" style="margin-right: 8px;">
                <div class="img-wrapper">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/rest8.jpeg" alt="">
                </div>
                <img class="grad" src="http://beta.coarr.kro.kr:8080/media/websrc/linear_grad_home_review.png" alt="">
                <div class="save-btn" onclick="toggle_save(2);">
                    <img id="save-btn-2" src="http://beta.coarr.kro.kr:8080/media/websrc/not_saved_icon.png" alt="">
                </div>
                <div class="writer-block">
<!--                     <img src="http://beta.coarr.kro.kr:8080/media/websrc/twin_user_icon.png" alt=""> -->
                    <a>TaekSon Park</a>
                </div>
                <div class="title-block">
<!--                     <img src="http://beta.coarr.kro.kr:8080/media/websrc/approved_icon.png" alt=""> -->
                    점심시간, 맛있는 한끼의 사시미 한접시
                </div>
            </div>
        </div>

        <div class="bar-block-center">
            <a>매거진</a>
            <div onclick="backto('magazine');">
                전체보기
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/btn_after.png" alt="">
            </div>
        </div>

        <div class="hscroll-view" style="height: 410px;">

            <div class="magazine-block" style="margin-left: 8px;">
                <div class="img-wrapper">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/mag3.png" alt="">
                </div>
                <img class="grad" src="http://beta.coarr.kro.kr:8080/media/websrc/linear_grad_home_magazine.png" alt="">
                <div class="writer-block">
                    <a>[테크] 2023 / 07 / 05</a>
                </div>
                <div class="save-btn" onclick="toggle_magazine_save(0);">
                    <img id="mag-save-btn-0" src="http://beta.coarr.kro.kr:8080/media/websrc/not_saved_icon.png" alt="">
                </div>
                <div class="title-block">
                    외식에 기술을 더하다. 푸드...
                </div>
            </div>

            <div class="magazine-block">
                <div class="img-wrapper">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/mag2.png" alt="">
                </div>
                <img class="grad" src="http://beta.coarr.kro.kr:8080/media/websrc/linear_grad_home_magazine.png" alt="">
                <div class="writer-block">
                    <a>[식당] 2023 / 07 / 05</a>
                </div>
                <div class="save-btn" onclick="toggle_magazine_save(1);">
                    <img id="mag-save-btn-1" src="http://beta.coarr.kro.kr:8080/media/websrc/not_saved_icon.png" alt="">
                </div>
                <div class="title-block">
                    화양연화를 그대로 가져다...
                </div>
            </div>

            <div class="magazine-block" style="margin-right: 8px;">
                <div class="img-wrapper">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/mag1.png" alt="">
                </div>
                <img class="grad" src="http://beta.coarr.kro.kr:8080/media/websrc/linear_grad_home_magazine.png" alt="">
                <div class="writer-block">
                    <a>[인물] 2023 / 07 / 05</a>
                </div>
                <div class="save-btn" onclick="toggle_magazine_save(2);">
                    <img id="mag-save-btn-2" src="http://beta.coarr.kro.kr:8080/media/websrc/not_saved_icon.png" alt="">
                </div>
                <div class="title-block">
                    푸드 디자인부터 전직 디자...
                </div>
            </div>
        
        </div>

        <div class="bar-block-center">
            <a>새로운 파트너</a>
            <div onclick="return false;">
                전체보기
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/btn_after.png" alt="">
            </div>
        </div>

        <div class="hscroll-view" style="height: 406px; margin-bottom: 10px;">
            <div class="partner-block" style="margin-left: 8px;">
                <div class="partner-header">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/profile1.jpeg" alt="">
                    <a>JaeHo Cho</a>
                </div>

                <div class="text-block">
                    세상에서 어떤 재료를 사용하든 맛있어지는 조리법이 뭔지 아십니까? 
                    이런 말이 있죠. 튀김은 신발을 튀겨도 맛있다. 벌써 침이 고이네요... 
                    저는 이 말을 마음에 새길만큼 튀김을 즐겨 먹습니다. <br><br>
                    앞으로 튀김과 관련된 음식을 여러분께 알려드릴수 있도록 열심히 활동하겠습니다.
                </div>

                <div class="prefer-text">
                    선호 분야 : 튀김
                </div>
            </div>

            <div class="partner-block" style="margin-right: 8px;">
                <div class="partner-header">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/profile2.jpeg" alt="">
                    <a>J.S.Song</a>
                </div>

                <div class="text-block">
                    커피를 좋아하다 못해 직접 해먹고, 자격증 취득과 바리스타로 일하고 있습니다. <br><br>
                    "커피를 빼놓고는 그 어떤 것도 좋을 수가 없다" 는 명언을 남긴 베토벤처럼 
                    커피를 사랑하는 만큼 여러분들께 많은 것들을 알려드릴 수 있도록 열심히 활동하겠습니다.
                </div>

                <div class="prefer-text">
                    선호 분야 : 커피
                </div>
            </div>
        </div>

    </div>


    <!-- Following Page -->
    <div id="follow-page-review" class="main-page">
        <div id="" class="follow-header-bar center">
            <div class="followers-block">
                
                <div class="follower-icon">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/home-profile-1.png" alt="">
                    <a>SeungJun</a>
                </div>

                <div class="follower-icon">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/home-profile-2.png" alt="">
                    <a>TaekSon</a>
                </div>

                <div class="follower-icon">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/home-profile-3.png" alt="">
                    <a>EunJe</a>
                </div>

                <div class="follower-icon">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/home-profile-4.png" alt="">
                    <a>RyongHee</a>
                </div>

                <div class="follower-icon">
                    <img src="http://beta.coarr.kro.kr:8080/media/websrc/home-profile-5.png" alt="">
                    <a>Hoeun</a>
                </div>
                
            </div>

            <div id="filter-btn" class="btn">
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/down_arrow.png" alt="">
            </div>
        </div>
    </div>
    
    <!-- Pair Header -->
    <div class="pair-header">

        <div class="pair-title">
            <div id="recomm-tabview-switch" class="" onclick="switch_tabview(0, 0);">추천</div>
            <div id="follow-tabview-switch" class="active" onclick="switch_tabview(0, 1);">팔로잉</div>
        </div>

        <div class="header-button-block">
            <div>
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/noti.png" alt="">
            </div>
            <div>
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/search.png" alt="">
            </div>
        </div>

    </div>

    <!-- Floating Button -->
    <div class="floating-button" onclick="backto('review');">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/add_logo.png" alt="">
    </div>


    <!-- Footer Bar -->
    <div class="footer-bar">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/home_active.png" onclick="switch_tab(0, 0);">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/restaurant_deactive.png" onclick="switch_tab(0, 1);">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/gift_deactive.png" onclick="switch_tab(0, 2);">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/user_deactive.png" onclick="switch_tab(0, 3);">
    </div>
        
</body>
</html>
