{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>COARR GUIDE</title>
           <link rel="stylesheet" href="{% static 'css/review.css' %}">
        <!-- <link rel="stylesheet" href="./css/review.css"> -->
        <!-- js -->
           <script src="{% static 'js/main.js' %}"> </script>
        <!-- <script src="./main.js"></script> -->
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Quicksand&display=swap" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
        <link rel="shortcut icon" href="http://beta.coarr.kro.kr:8080/media/websrc/favicon.ico" type="image/x-icon">
    </head>
    <body oncontextmenu='return false' onselectstart='return false;' ondragstart='return false;'>
        <div class="header">
            <div class="btn" onclick="backto('review_home');">
                <img class="btn" src="http://beta.coarr.kro.kr:8080/media/websrc/btn_back.png" alt=""/>
            </div>
            <a>리뷰작성</a>
            <div style="width:11px;"></div>
        </div>
        <div class="review-uploaded">
            <a>리뷰가 등록되어 심사중입니다</a>
            <b>파트너의 승인을 받으면 인증 뱃지를 받을 수 있습니다</b>
        </div>
        <div class="return-btn" onclick="backto('review_home');">닫기</div>
    </body>
</html>
