{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>COARR GUIDE</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/restaurant.css' %}">
        <!-- <link rel="stylesheet" href="../css/style.css"> -->
        <!-- <link rel="stylesheet" href="../css/restaurant.css"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- js -->
        <script src="{% static 'js/main.js' %}"> </script>
        <!-- <script src="../main.js"></script> -->
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Quicksand&display=swap" rel="stylesheet">
        <meta name="viewport" content="initial-scale=0.8,user-scalable=no,maximum-scale=0.8,width=device-width" />
        <link rel="shortcut icon" href="http://beta.coarr.kro.kr:8080/media/websrc/favicon.ico" type="image/x-icon">
    </head>
    <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>

    <div id="restaurant-page-restaurant" class="main-page disalbed">
        
    </div>

    <div id="restaurant-page-review" class="main-page">

        <div id="" class="tool-header center">
            <div class="filter-tag-block">
                <a>인기순</a>
                <a>지역 : 서울</a>
                <a>태그</a>
                <a>태그</a>
                <a>태그</a>
                <a>태그</a>
                <a>태그</a>
                <a>태그</a>
            </div>
            <div id="filter-btn" class="btn">
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/filter_btn.png" alt="">
            </div>
        </div>
        <div class="grid-view">
            <div class="review-block"></div>
            <div class="review-block"></div>
            <div class="review-block"></div>
            <div class="review-block"></div>
            <div class="review-block"></div>
            <div class="review-block"></div>
            <div class="review-block"></div>
            <div class="review-block"></div>
        </div>
    </div>

    <!-- Pair Header -->
    <div class="pair-header">

        <div class="pair-title">
            <div id="restaurant-tabview-switch" class="" onclick="switch_tabview(1, 0);">레스토랑</div>
            <div id="review-tabview-switch" class="active" onclick="switch_tabview(1, 1);">리뷰</div>
        </div>

        <div class="header-button-block">
            <div>
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/noti.png" alt="">
            </div>
            <div>
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/search.png" alt="">
            </div>
        </div>

    </div>

    <!-- Footer Bar -->
    <div class="footer-bar">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/home_deactive.png" onclick="switch_tab(1, 0);">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/restaurant_active.png" onclick="switch_tab(1, 1);">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/gift_deactive.png" onclick="switch_tab(1, 2);">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/user_deactive.png" onclick="switch_tab(1, 3);">
    </div>
        
</body>
</html>
