{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>COARR GUIDE</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/restaurant.css' %}">
        <!-- <link rel="stylesheet" href="../css/style.css"> -->
        <!-- <link rel="stylesheet" href="../css/restaurant.css"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- js -->
        <script src="{% static 'js/main.js' %}"> </script>
        <!-- <script src="../main.js"></script> -->
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Quicksand&display=swap" rel="stylesheet">
        <meta name="viewport" content="initial-scale=0.8,user-scalable=no,maximum-scale=0.8,width=device-width" />
        <link rel="shortcut icon" href="http://beta.coarr.kro.kr:8080/media/websrc/favicon.ico" type="image/x-icon">
    </head>
    <body id="review-detail-view-body" oncontextmenu='return false' onselectstart='return false' ondragstart='return false' onload="init_review_page();">

    <div class="title-img-wrapper">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/rest3.jpg" alt="">
    </div>

    <div class="grad"></div>

    <div class="review-detail-title">
        {{ title }}
    </div>

    <div class="writer-profile-block">
        <div class="writer-profile-img">
            <img src="http://beta.coarr.kro.kr:8080/media/websrc/profile3.png" alt="">
        </div>

        <div class="name-block">
            <div class="text1">
                <img src="http://beta.coarr.kro.kr:8080/media/websrc/twin_user_icon.png" alt="">
                <a>{{ writer_name }}</a>
            </div>
                
            <div class="text2">
<!--                 <img src="http://beta.coarr.kro.kr:8080/media/websrc/" alt=""> -->
                <a>Follows {{ num_follows }}</a>
            </div>
        </div>
    </div>

    <div class="main-review-page" id="main-review-page">

        <div class="trans-view"></div>

        <div id="review-detail-main-view" class="main-view">
        </div>
        
    </div>

    <!-- Loading Page -->
    <div id="loading-page" class="loading-page">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/loading.gif" alt="">
    </div>

    <div class="bar-block-center" id="review-title-bar">
        <div class="back_btn" onclick="backto('restaurant?tab=review');">
            <img id="review-title-back-icon" src="http://beta.coarr.kro.kr:8080/media/websrc/back_arrow_white.png" alt="">
        </div>
        <a onclick="refresh();">
            {{ rname }}
        </a>
        <div class="back_btn"></div>
    </div>

    <div class="spread-footer-bar">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/like_btn_gray.png" onclick="return false;">
        <img src="http://beta.coarr.kro.kr:8080/media/websrc/bookmark_btn_gray.png" onclick="return false;">
    </div>

    <script>
    window.addEventListener('DOMContentLoaded', function()
    {
        let main_view = document.getElementById('review-detail-main-view');
        var content = "{{ content1 }}".replaceAll('&gt;', '>').replaceAll('&lt;', '<').replaceAll('&amp;', '&').replaceAll('&nbsp;', ' ').replaceAll('<br>', '\n');
        main_view.innerHTML = content;
        
        document.getElementById('loading-page').setAttribute('class', 'loading-page hide');
    });
    </script>
        
</body>
</html>
